// lookup
// __form-container
// __form-content
// __cta
// __cta-svg

.lookup {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  
  h3 {
    font-size: 1.92rem;
    font-weight: 400;
    padding: 0 5% 2rem 5%;
  }

  &__form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }

  &__form-content {
    min-width: 50rem;
  }

  &__cta {
    flex: 1;
    
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 7rem;
      width: 100%;
      background-color: #e50914;
      border: 0;
      border-left: 2px solid #333;
      border-radius: 2px;
      font-size: 3rem;
      color: #fff;

      &:hover {
        background-color: #f40612;
      }
    }
  }

  &__cta-svg {
    position: relative;
    display: inline-block;
    height: 22px;
    margin: 0 0 0 1.5rem;
  
    svg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      fill: #fff;
    }
  }
}

@media screen and (max-width: 87.500em) {
  .lookup {
    &__cta {
      button {
        min-height: 6rem;
      }
    }
  }
}

@media screen and (max-width: 60em) {
  .lookup {
    &__form-container {
      flex-direction: column;
    }

    &__form-content {
      margin: 1rem auto;
    }

    &__cta {
      margin: 0 auto;

      button {
        min-height: 4rem;
        border: none;
        margin: 0.4rem 0;
        padding: 0 2rem;
        font-size: 1.6rem;
      }
    }

    &__cta-svg {
      position: relative;
      display: inline-block;
      height: 12px;
      margin: 0 0 0 1.5rem;
    }
  }
}

@media screen and (max-width:38.125em) {
  .lookup {
    &__form-content {
      min-width: 40rem;
      width: 100%;
    }
  }
}

@media screen and (max-width: 34.375em) {
  .lookup {
    h3 {
      font-size: 1.8rem;
      padding: 0 10%
    }

    &__form-content {
      min-width: 20rem;
      width: 100%;
    }
  }
}