// lookup
// form-container
// form-group
// input-wrap
// form-control
//  --error
//  --valid
// form-label
// form-error
// cta
// cta-svg

.lookup {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  
  h3 {
    font-size: 1.92rem;
    font-weight: 400;
    padding: 0 5% 2rem 5%;
  }

  &__form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }
  
  &__input-wrap {
    position: relative;
  }

  &__form-control {
    height: 7rem;
    min-width: 50rem;
    padding: 1rem 1rem 0 1rem;
    font-size: 1.6rem;
    border: solid 1px #8c8c8c;
    outline: none;

    &--error {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 2px solid #ffa00a;
    }

    &--valid {
      border-color: #5fa53f;
    }
    
    &::placeholder {
      color: transparent;
      visibility: hidden;
    }

    &:focus + .lookup__form-label, 
    &:not(:placeholder-shown) + .lookup__form-label  {
      transform: translateY(-3rem);
      font-size: 1.4rem;
    }
  }

  &__form-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-1rem);
    font-size: 1.6rem;
    color: #8c8c8c;
    pointer-events: none;
    transition: all .2s;
  }

  &__form-error {
    color: #ffa00a;
    text-align: left;
    margin-bottom: -6px;
    padding: 6px 3px;
    font-size: 1.5rem;
  }

  &__cta {
    flex: 1;
    
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 7rem;
      width: 100%;
      background-color: #e50914;
      border: 0;
      border-left: 2px solid #333;
      border-radius: 2px;
      font-size: 3rem;
      color: #fff;

      &:hover {
        background-color: #f40612;
      }
    }
  }

  &__cta-svg {
    position: relative;
    display: inline-block;
    height: 22px;
    margin: 0 0 0 1.5rem;
  
    svg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      fill: #fff;
    }
  }
}

@media screen and (max-width: 87.500em) {
  .lookup {
    &__form-control {
      height: 6rem;
      font-size: 1.6rem;

      &:focus + .lookup__form-label, 
      &:not(:placeholder-shown) + .lookup__form-label  {
        transform: translateY(-2.5rem);
      }
    }

    &__cta {
      button {
        min-height: 6rem;
      }
    }
  }
}

@media screen and (max-width: 60em) {
  .lookup {
    &__form-container {
      flex-direction: column;
    }

    &__form-group {
      margin: 1rem auto;
    }

    &__cta {
      margin: 0 auto;

      button {
        min-height: 4rem;
        border: none;
        margin: 0.4rem 0;
        padding: 0 2rem;
        font-size: 1.6rem;
      }
    }

    &__cta-svg {
      position: relative;
      display: inline-block;
      height: 12px;
      margin: 0 0 0 1.5rem;
    }
  }
}

@media screen and (max-width:38.125em) {
  .lookup {

    &__form-group {
      width: 100%;
    }

    &__form-control {
      height: 4.8rem;
      min-width: 40rem;
      width: 100%;

      &:focus + .lookup__form-label, 
      &:not(:placeholder-shown) + .lookup__form-label  {
        transform: translateY(-2rem);
        font-size: 1.2rem;
      }
    }

    &__form-label {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 34.375em) {
  .lookup {

    h3 {
      font-size: 1.8rem;
      padding: 0 10%
    }

    &__form-group {
      min-width: 20rem;
      width: 100%;
    }

    &__form-control {
      min-width: 15rem;
    }
  }
}