// hero 
// hero__overlay
// hero__text
// hero__signup

.hero {
  position: relative;
  height: 74.777rem;
  width: 100%;
  background-position: center;
  background-size: cover;

  &__overlay {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
    background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.8)),color-stop(60%,rgba(0,0,0,0)),to(rgba(0,0,0,.8)));
    padding: 7rem 4.5rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding-top: 7rem;
    text-align: center;

    h1 {
      font-size: 6.4rem;
      line-height: 7.04rem;
    }

    h2 {
      font-size: 2.6rem;
      font-weight: 500;
      margin: 1.625rem auto;
    }
  }
}

@media screen and (max-width: 34.375em) {
  .hero {
    h1 {
      font-size: 3.7rem;
      line-height: 4.3rem;
    }

    h2 {
      font-size: 2.5rem;
    }
  }
}